<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  span {
    margin: 10px;
  }
</style>

<div class="container">
  <span>Helo, {{name}}</span>

  <br>
  
  <span>You request password reset. Click the link to reset</span>
  
  <a href={{link}}>{{link}}</a>
  
  <span>If you not request the reset password ignore this email.</span>

  <h3>PypeStrong Rentex</h3>
</div>